/*  
    =============================================================================================
    DESIGN:
    MOBILE FIRST
    =============================================================================================
*/

/*--------------------------------- HEADER SECTION --------------------------------------------*/

header{
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    position: sticky;
    top: 0;
    background-color: rgb(7, 43, 71);
    padding: 1em 0;
    margin: 0;
}

.title{
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin: 0 1em;
    text-align: center;
}

.title h1{
    padding: 0;
    margin: 0;
    font-family: "Lato", 'Courier New', Courier, monospace; /* Lato* IS A CUSTOM FONT-FAMILY FROM GOOGLE FONTS*/
    color: rgba(74,159,226,1);
}

nav {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    padding: 1em 0;
}

.navlink {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    color: white;
    text-decoration: underline;
    font-size: 1rem;
    display: block;
    padding: 0.1em;
    margin-bottom: 0.5em;
}

.navlink:hover,
.navlink:focus {
    color:black;
    background-color: aliceblue;
}

/*--------------------------------- BODY SECTION ----------------------------------------------*/

body {
    margin: 0px;
    background: rgb(12, 76, 125); 
    color: white; 
    font-family: "Lato", 'Courier New', Courier, monospace; /* Lato* IS A CUSTOM FONT-FAMILY FROM GOOGLE FONTS*/
    font-weight: 400;
}

h1 {
    font-size: 3rem; 
    font-weight: 700;
}

h2 {
    font-size: 2.1rem;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

ul {
    list-style-type: square;
}

/*--------------------------------- BODY-> MAIN SECTION ---------------------------------------*/

main{
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    max-width: 800px;
    margin: 0 auto;
}

#About {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin: 15px; 
    padding: 5px;
}

#Experience {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin: 15px; 
    padding: 5px;
}

#Skills {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin: 15px; 
    padding: 5px;
}
#Projects {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin: 15px; 
    padding: 5px;
}

#Connect {
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin: 15px;  
    padding: 5px;
    height: 150px;
    text-align: left;
}

#LeaveMessage,
#messages{
    /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin: 15px;  
    padding: 5px;
}

.socialNets{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hiden;
    text-decoration: none;
}

.social{
    display: block;
    float: inline-end;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.socialicon{
    margin-left: auto;
    margin-right: auto;
}
.columns{
    display: flex;
}

.column{
    margin-left: 30px;
}

/*--------------------------------- STRETCH GOAL WEEK 10 --------------------------------------*/

/*-------- STYLING EXPERIENCE, SKILLS, AND PROJECTS WITH GRID ----------*/

.experience-grid,
.skills-grid,
.project-list   
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em 3em;
}

.skills-grid li{
    background-color: rgba(139,136,134,.1);
}

.project-list li{
    background-color: rgba(139,136,134,.1);
}

.course-info{
    background-color: rgba(139,136,134,.1);
}

.course-info h3{
    margin-bottom: 0.3rem;
}

.course-info p{
    margin-top: 0;
    margin-left: 1em;
    font-style: italic;
}

.course-date{
     /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto 0;
    background-color: rgba(139,136,134,.1);
}

.course-date p{
     /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
    margin-left: 1em;
}

/*--------------------------------- WEEK 12 FORM SECTION --------------------------------------*/

#leave_message{
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 4;
    gap: .5em 0.5em;
}

.input-field{
    background-color: rgb(163, 163, 163);
}

.action-btn{
    background-color: rgb(163, 163, 163);
    font-size: .8rem;
    padding: .5rem;
    border-radius: 8px;
    border: none;
}

/*--------------------------------- WEEK 12 MESSAGES SECTION ----------------------------------*/

/*-------- STYLING MESSAGES WITH GRID ----------------------------------*/

.messages-grid
{
    display: grid;
    grid-template-columns: minmax(100px, 800px);
    gap: 1em 3em ;
    padding: 0;
}

.messages-grid li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(139,136,134,.1);
    border-radius: 8px;
    padding: .5rem;
}

.messages-grid a {
    color: white;
    margin: 0.5em 0;
}
.messages-grid span{
    
    margin-bottom: 0.5em;
}
.messages-grid button{
    width: 25%;
    margin-left: auto;
}

/*--------------------------------- WEEK 11 FOOTER SECTION ------------------------------------*/

footer{
    padding: 1.5em;
    background-color: rgb(7, 43, 71);
    text-align: center;
}

footer p,
footer h3{
    margin: 0;
}

/*--------------------------------- MEDIA QUERIES SECTION -------------------------------------*/

/*----------------------TABLET-SIZE DEVICES-----------------------------*/ 
/*--------MEDIA QUERY 1: AT LEAST 2 CHANGES ON 4 ELEMENTS---------------*/

@media screen and (min-width: 576px){

    header{
        /*FLEX SETTINGS*/
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title{
        font-size: 3rem;
        text-align: left;
    }

    .title h1{
        color: whitesmoke;
    }

    .course-info h3{
        margin-left: 1rem;
    }

    .course-info p{
        margin-left: 2rem;
    }
    
    nav{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: .2em;
    }

    .navlink {
        /*border: solid 2px white;*/ /*FOR DEBUGGING PURPOSES ONLY*/
        color: white;
        text-decoration: none;
        font-size: 1rem;
        display: inline;
        padding: 0.3em;
    }

    footer{
        position: sticky;
        bottom: 0;
    }
}

/*----------------------LAPTOP-SIZE DEVICES AND UP----------------------*/ 
/*--------MEDIA QUERY 2: AT LEAST 2 CHANGES ON 3 ELEMENTS---------------*/

@media screen and (min-width: 768px){

    body{
        background-image: linear-gradient(to right, rgb(12, 76, 125,0), rgba(7,43,71,1));
    }

    .title{
        font-size: 4rem;
        letter-spacing: 1px;
    }
    
    .title h1{
        font-weight: 900;
        color: whitesmoke;
    }

    h2{
        font-family: 'Roboto','Courier New', Courier, sans-serif;
        font-weight: 700;
        color: rgb(177, 177, 177);
    }

    nav{
        display: inline;
        margin-right: 3em;
    }

    .navlink {
        font-size: 1.2rem;
        padding: 0.5em;
        color: whitesmoke;
    }
}